Node-redFlow.json
[
    {
        "id": "128f4035.a6298",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "64fa2e61.a220d",
        "type": "ui_form",
        "z": "128f4035.a6298",
        "name": "",
        "label": "",
        "group": "84a8c966.4095c8",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Year",
                "value": "a",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "BMI ",
                "value": "b",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Adult_Mortality",
                "value": "c",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Infant_Deaths",
                "value": "d",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Alcohol",
                "value": "e",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Percentage_Expenditure",
                "value": "f",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "HepatitisB",
                "value": "g",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Under_Five_Deaths",
                "value": "h",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Polio",
                "value": "i",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Total_Expenditure",
                "value": "j",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Diphtheria",
                "value": "k",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "HIV",
                "value": "l",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "GDP",
                "value": "m",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Population",
                "value": "n",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "thinness_1to19_years",
                "value": "o",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "thinness_5to9_years",
                "value": "p",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Income_Comp_Of_Resources",
                "value": "q",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Schooling",
                "value": "r",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Measles",
                "value": "s",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Status(Developing-1/Developed-0)",
                "value": "t",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "a": "",
            "b": "",
            "c": "",
            "d": "",
            "e": "",
            "f": "",
            "g": "",
            "h": "",
            "i": "",
            "j": "",
            "k": "",
            "l": "",
            "m": "",
            "n": "",
            "o": "",
            "p": "",
            "q": "",
            "r": "",
            "s": "",
            "t": ""
        },
        "payload": "",
        "submit": "predict",
        "cancel": "cancel",
        "topic": "",
        "x": 70,
        "y": 100,
        "wires": [
            [
                "9c080650.aa5d58"
            ]
        ]
    },
    {
        "id": "9c080650.aa5d58",
        "type": "function",
        "z": "128f4035.a6298",
        "name": "pre token",
        "func": "//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\n\n//following are required to receive a token\nvar apikey=\"zz76B--aVH7UraHux2LCcpx9j8Dc_1d37RuM4rmg6l2R\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 220,
        "y": 100,
        "wires": [
            [
                "5dabe05f.d0ff4"
            ]
        ]
    },
    {
        "id": "df8ab04f.123d9",
        "type": "http request",
        "z": "128f4035.a6298",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/a14b0f4f-78e8-4abf-a192-834d66bced46/deployments/2128aacf-6745-4e25-ab06-d7555ae04acf/online",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 470,
        "y": 180,
        "wires": [
            [
                "f35735a8.ea79c8",
                "df4da3f1.878c7"
            ]
        ]
    },
    {
        "id": "f8746d77.f580c",
        "type": "debug",
        "z": "128f4035.a6298",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 750,
        "y": 280,
        "wires": []
    },
    {
        "id": "df4da3f1.878c7",
        "type": "function",
        "z": "128f4035.a6298",
        "name": "getFrom Endpoint",
        "func": "msg.payload=msg.payload.values[0][0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 280,
        "wires": [
            [
                "f8746d77.f580c",
                "6731fb78.7c6604"
            ]
        ]
    },
    {
        "id": "f35735a8.ea79c8",
        "type": "debug",
        "z": "128f4035.a6298",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 710,
        "y": 180,
        "wires": []
    },
    {
        "id": "816bb95b.6106a8",
        "type": "function",
        "z": "128f4035.a6298",
        "name": "sendTo Endpoint",
        "func": "//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"a14b0f4f-78e8-4abf-a192-834d66bced46\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\n\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":[\"Year\",\"BMI\",\n\"Adult_Mortality\",\n\"Infant_Deaths\",\n\"Alcohol\",\"Percentage_Expenditure\",\"HepatitisB\",\"Under_Five_Deaths\",\"Polio\",\"Total_Expenditure\",\"Diphtheria\",\"HIV\",\"GDP\",\"Population\",\"thinness_1to19_years\",\"thinness_5to9_years\",\"Income_Comp_Of_Resources\",\"Schooling\",\"Measles\",\"Developing\"],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t]]};\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 210,
        "y": 180,
        "wires": [
            [
                "df8ab04f.123d9"
            ]
        ]
    },
    {
        "id": "5dabe05f.d0ff4",
        "type": "http request",
        "z": "128f4035.a6298",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://iam.cloud.ibm.com/identity/token",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 370,
        "y": 100,
        "wires": [
            [
                "816bb95b.6106a8"
            ]
        ]
    },
    {
        "id": "6731fb78.7c6604",
        "type": "ui_text",
        "z": "128f4035.a6298",
        "group": "84a8c966.4095c8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Prediction",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 720,
        "y": 400,
        "wires": []
    },
    {
        "id": "84a8c966.4095c8",
        "type": "ui_group",
        "z": "",
        "name": "Machine Learning Model",
        "tab": "d0d1408e.1c349",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d0d1408e.1c349",
        "type": "ui_tab",
        "z": "",
        "name": "Home Page",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]